@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-text-color);
  color: var(--content-text-color);
  // font-family: sans-serif;
  // letter-spacing: 0.03em;
  // font-size: 14px;
  // line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
