@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-text-color);
  color: var(--content-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contacts {
  padding-bottom: 60px;
  background-color: #84a178;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 120px;
  }
}

.contacts__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.contacts__item {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 44px;
  padding-bottom: 24px;
  background-color: #fcfcfc;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__item {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 0;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: calc((100% - 32px) / 3);
    margin: 0;
  }
  .contacts__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 32px;
  }
}

.contacts__name {
  max-width: 130px;
  height: 22px;
  background-color: #f8d24e;
  margin-bottom: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .contacts__name {
    max-width: 138px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__name {
    max-width: 148px;
  }
}
.contacts__name p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__name p {
    font-size: 16px;
  }
}

.contacts__line {
  height: 1px;
  background-color: #e1e1e1;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.contacts__address {
  margin-bottom: 24px;
}
.contacts__address p {
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.83;
}
@media screen and (min-width: 768px) {
  .contacts__address p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address p {
    font-size: 16px;
  }
}
.contacts__address a {
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  color: #d6936d;
  letter-spacing: 0.04em;
  line-height: 1.83;
  font-size: 12px;
  text-align: left;
  position: relative;
  transition: border-color 400ms;
}
@media screen and (min-width: 1200px) {
  .contacts__address a {
    height: 50px;
  }
}
.contacts__address a:hover {
  border-bottom: 1px solid #d6936d;
}

.contacts__day {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .contacts__day {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__day {
    font-size: 16px;
  }
}

.contacts__time {
  font-size: 12px;
  line-height: 1.83;
  color: #ababab;
}
@media screen and (min-width: 768px) {
  .contacts__time {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__time {
    font-size: 16px;
  }
}

.contacts__date {
  margin-bottom: 24px;
}
.contacts__date li:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts__date li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.contacts__tel {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 12px;
  line-height: 1.58;
  color: #131313;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    font-size: 16px;
  }
}

.contacts__mail {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 12px;
  line-height: 1.58;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__button li:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.contacts__location-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #f8d24e;
  border: none;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
}
@media screen and (min-width: 768px) {
  .contacts__location-button {
    margin: 0 16px 0 0;
  }
}
.contacts__location-button:hover {
  background-color: #0a8817;
}
.contacts__location-button:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.contacts__location-button:disabled {
  background-color: #ababab;
}

.contacts__franchise-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  bottom: 2px;
  border-color: #f8d24e;
  border-radius: 10px;
  border-style: solid;
}
@media screen and (min-width: 768px) {
  .contacts__franchise-button {
    margin: 0;
  }
}
.contacts__franchise-button:hover {
  border-color: #0a8817;
}
.contacts__franchise-button:focus {
  border-color: #0a8817;
  color: #fcfcfc;
}
.contacts__franchise-button:disabled {
  border-color: #ababab;
}

.contacts__button-icon {
  display: block;
}/*# sourceMappingURL=index.css.map */