@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin font-title($fs:30, $fw:400, $lh:1.27, $ls:0.04, $tt:uppercase) {
  font-size: $fs + px;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls + em;
  text-transform: $tt;
}

@mixin font-input($fs:12, $fw:400, $lh:1.4, $ls:0.04) {
  font-size: $fs + px;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls + em;
}
