$primary-bg-color: #84a178;
$tittle-text-color: #131313;
$primary-text-color: #fcfcfc;
$accent-color: #f8d24e;
$accent-text-color: #000000;
$accent-bg-color: #0a8817;
$location-text-color: #d6936d;
$white-color: white;
$btn-disabled-color: #ababab;
$line-color: #e1e1e1;
$time-color: #ababab;
$slick-btn-color: #d9d9d9;
$footer-text-color: #7a7a7a;
$modal-bcg-color: #efd478;
$modal-background-color: #aec6a5;
$modal-border-color: #96af8c;
$wrap-bcg-color: #9cbe8f;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$tel: 480px;
$tablet: 768px;
$desktop: 1200px;
