$primary-bg-color: #84a178;
$tittle-text-color: #131313;
$primary-text-color: #fcfcfc;
$accent-color: #f8d24e;
$accent-text-color: #000000;
$accent-bg-color: #0a8817;
$location-text-colour: #d6936d;
$white-color: white;
$btn-disabled-color: #ABABAB;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);


$tel: 480px;
$tablet: 768px;
$desktop: 1200px;
