<section class="container advantages">
  <h2 class="advantages__titel hidden">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <img
        class="advantages__icon"
        src="./images/icon-cow.png"
        alt="cow"
        width="50"
      />
      <p class="advantages__size">721</p>
      <p class="advantages__text">Aliuam ac dui vel dui vulputate </br> consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <img
        class="advantages__icon"
        src="./images/icon-weight.png"
        alt="weight"
        width="50"
      />
      <p class="advantages__size">16kg</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate </br> consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <img
        class="advantages__icon"
        src="./images/icon-icecreama.png"
        alt="icecrema"
        width="50"
      />
      <p class="advantages__size">84</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate </br> consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
