
<section class="contacts">
  <div class="container contacts-block">
    <h2 class="hidden" id="contacts">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__name">
          <p>CAFE</p>
        </div>
        <address class="contacts__address">
          <p>Chicago</p>
          <a
            href="https://goo.gl/maps/SfKmuGbYh7z3Qu8t5"
            target="_blank"
            rel="noreferrer noopener"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__date">
          <li>
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="contacts__social">
          <li>
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__name">
          <p>FOODTRUCK</p>
        </div>
        <address class="contacts__address">
          <p>Los Angeles</p>
          <a
            href="https://goo.gl/maps/FHRw5GGPE6R1rvxc8"
            target="_blank"
            rel="noreferrer noopener"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__date">
          <li>
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul>
          <li>
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__name">
          <p>CAFE</p>
        </div>
        <address class="contacts__address">
          <p>New York</p>
          <a
            href="https://goo.gl/maps/k3iT94vX41ovHnz1A"
            target="_blank"
            rel="noreferrer noopener"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__date">
          <li>
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul>
          <li>
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__button">
      <li>
        <button
          data-modal-open="modal-location"
          type="button"
          class="contacts__location-button location-button data-modal-open"
        >
          Our Location<svg
            class="button-icon contacts__button-icon"
            width="12px"
            height="12px"
          >
            <use href="./images/icons.svg#small-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          data-modal-open="modal-franchise"
          type="button"
          class="contacts__franchise-button contacts__franshize franchise-button data-modal-open"
        >
          Franchise
          <svg
            class="button-icon contacts__button-icon"
            width="12px"
            height="12px"
          >
            <use href="./images/icons.svg#small-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
