<section class="container reviews">
  <div class="gallery gallery_container">
    <h2 class="gallery__titel hidden">Gallery</h2>
    <div class="gallery-slaid">
      <div class="gallery__list">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery1-desktop.png    1x,
              ./images/gallery1@2x-desktop.png 2x,
              ./images/gallery1@3x-desktop.png 3x
            " />

          <source media="(min-width: 768px)" srcset="
              ./images/gallery1-tablet.png    1x,
              ./images/gallery1@2x-tablet.png 2x,
              ./images/gallery1@3x-tablet.png 3x
            " />

          <source media="(max-width: 767px)" srcset="
              ./images/gallery1-mobile.png    1x,
              ./images/gallery1@2x-mobile.png 2x,
              ./images/gallery1@3x-mobile.png 3x
            " />

          <img class="gallery__img" src="./images/gallery1-desktop.png" alt="ice-cream" />
        </picture>
      </div>

      <div class="gallery__list">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery2-desktop.png    1x,
              ./images/gallery2@2x-desktop.png 2x,
              ./images/gallery2@3x-desktop.png 3x
            " />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery2-tablet.png    1x,
              ./images/gallery2@2x-tablet.png 2x,
              ./images/gallery2@3x-tablet.png 3x
            " />

          <source media="(max-width: 767px)" srcset="
              ./images/gallery2-mobile.png    1x,
              ./images/gallery2@2x-mobile.png 2x,
              ./images/gallery2@3x-mobile.png 3x
            " />

          <img class="gallery__img" src="./images/gallery2-desktop.png" alt="ice-cream" />
        </picture>
      </div>

      <div class="gallery__list">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery3-desktop.png    1x,
              ./images/gallery3@2x-desktop.png 2x,
              ./images/gallery3@3x-desktop.png 3x
            " />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery3-tablet.png    1x,
              ./images/gallery3@2x-tablet.png 2x,
              ./images/gallery3@3x-tablet.png 3x
            " />

          <source media="(max-width: 767px)" srcset="
              ./images/gallery3-mobile.png    1x,
              ./images/gallery3@2x-mobile.png 2x,
              ./images/gallery3@3x-mobile.png 3x
            " />
          <img class="gallery__img" src="./images/gallery3-desktop.png" alt="ice-cream" />
        </picture>
      </div>
    </div>
  </div>
  <div class="one-time">
    <div>
        <img class="reviews__client-photo" 
        srcset="./images/customer1.png 1x, ./images/customer1-2x.png 2x, ./images/customer1-3x.png 3x"
        src="./images/customer1.png" alt="Emily">
      <p class="reviews__text">I love visiting your cafe.
        You prepare the most delicious ice cream in Los Angeles!
        In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
      <h3 class="reviews__client">Emily, Los Angeles</h3>
    </div>
    <div>
      <img class="reviews__client-photo" 
        srcset="./images/customer2.png 1x, ./images/customer2-2x.png 2x, ./images/customer2-3x.png 3x"
        src="./images/customer2.png" alt="Bryan">
      <p class="reviews__text">Every day we come to you with friends after classes in college. We love your ice cream
        and casual atmosphere!</p>
      <h3 class="reviews__client">Bryan, New-York</h3>
    </div>
    <div>
      <img class="reviews__client-photo" 
        srcset="./images/customer3.png 1x, ./images/customer3-2x.png 2x, ./images/customer3-3x.png 3x"
        src="./images/customer3-2x.png" alt="Diana">
      <p class="reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
        excellent service - always
        served politely and quickly!</p>
      <h3 class="reviews__client">Diana, Chicago</h3>
    </div>
  </div>
</section>