<section class="container reviews">
    <div class="one-time">
        <div>
            <img class="reviews__client-photo"src="./images/customer3.png" alt="client1" width="85">
            <p class="reviews__text">I love visiting your cafe.
                You prepare the most delicious ice cream in Los Angeles!
                In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            <h3 class="reviews__client">Emily, Los Angeles</h3>
        </div>
        <div>
            <img class="reviews__client-photo"src="./images/customer1.png" alt="client2" width="85">
            <p class="reviews__text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
            <h3 class="reviews__client">Bryan, New-York</h3>
        </div>
        <div>
            <img class="reviews__client-photo"src="./images/customer2.png" alt="client2" width="85">
            <p class="reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
            served politely and quickly!</p>
            <h3 class="reviews__client">Diana, Chicago</h3>
        </div>
    </div>
</section>

