<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <p class="footer-title animate__animated animate__zoomInDown">Homemade ice cream made<span class="footer-title__span animate__animated animate__zoomInDown">with passion</span></p>
            <div class="footer-soc">
                <ul class="footer-soc__list list">
                    <li class="footer-soc__items">
                        <a href="https://github.com/" class="footer-soc__link link">
                            <svg class="footer-soc__icon" width="20" height="20">
                                <use href="./images/icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc__items">
                        <a href="https://web.telegram.org/k/" class="footer-soc__link link">
                            <svg class="footer-soc__icon" width="20" height="20">
                                <use href="./images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc__items">
                        <a href="https://www.facebook.com/" class="footer-soc__link link">
                            <svg class="footer-soc__icon" width="20" height="20">
                                <use href="./images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-contacts">Feel free to contact
                    <a class="footer-tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <div class="copyright">
            <p class="footer-text">&copy; 2022 - IceCream. <span> All Rights Reserved.</span></p>
        </div>
    </div>
    <button id="footer-scrolltop">Top</button>
</footer>