<section class="hero container">
    <h2 class="hero__title">ICE CREAM MADE WITH PASSION</h2>
    <div class="hero__container--right">
       
        <button class="hero__button">Products</button>
        <a id="hero-link" href="#" class="hero__link">How it’s made?</a>
    </div>
    
    <div class="hero-bottom">
        <!-- More ice-cream pic -->
            <picture>
                <source srcset="./images/hero-more_desk.png 1x,
                                        ./images/hero-more_desk-2x.png 2x,
                                        ./images/hero-more_desk-3x.png 3x" media="(min-width:1200px)">
                <source srcset="./images/hero-more_tab.png 1x,
                                        ./images/hero-more_tab-2x.png 2x,
                                        ./images/hero-more_tab-3x.png 3x" media="(min-width:768px)">
                <img class="hero-bottom__img" 
                srcset="./images/hero-more_desk.png 1x,
                                    ./images/hero-more_desk-2x.png 2x,
                                    ./images/hero-more_desk-3x.png 3x" src="./images/hero-more_desk.png" alt="more ice-cream">
            </picture>

                <p class="hero-bottom__paragraph">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                    <svg class="hero-bottom__svg--arrow">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </p>
    </div>
    <!-- Hero-points -->
    <picture>
        <source srcset="./images/hero-points_desk.png 1x,
                        ./images/hero-points_desk-2x.png 2x,
                        ./images/hero-points_desk-3x.png 3x" 
                        media="(min-width:1200px)">
        <source srcset="./images/hero-points_tab.png 1x,
                        ./images/hero-points_tab-2x.png 2x,
                        ./images/hero-points_tab-3x.png 3x" 
                        media="(min-width:768px)">
        <source srcset="./images/hero-points_mob.png 1x,
                        ./images/hero-points_mob-2x.png 2x,
                        ./images/hero-points_mob-3x.png 3x"
                        media="(max-width:767px)">
    
        <img class="hero-points" srcset="./images/hero-points_desk.png 1x,
                        ./images/hero-points_desk-2x.png 2x,
                        ./images/hero-points_desk-3x.png 3x" 
                        src="./images/hero-points_desk.png" alt="hero-points">
    </picture>
    <!-- Hero big ice-cream -->
    <pivtire>
        <source srcset="./images/hero-one_desk.png 1x,
                         ./images/hero-one_desk-2x.png 2x,
                         ./images/hero-one_desk-3x.png 3x"
                          media="(min-width:1200px)">
        <source srcset="./images/hero-one_tab.png 1x,
                         ./images/hero-one_tab-2x.png 2x,
                         ./images/hero-one_tab-3x.png 3x" 
                         media="(min-width:768px)">
        <source srcset="./images/hero-one_mob.png 1x,
                         ./images/hero-one_mob-2x.png 2x,
                         ./images/hero-one_mob-3x.png 3x" 
                         media="(max-width:767px)">
    
        <img class="hero-one" srcset="./images/hero-one_desk.png 1x,
                         ./images/hero-one_desk-2x.png 2x,
                         ./images/hero-one_desk-3x.png 3x" 
                         src="./images/hero-one_desk.png" alt="ice-cream">
    </pivtire>

    <ul class="hero-list__numbers">
        <li class="hero-list__item">
            <span>16</span>
            <p class="hero-list__paragraph">cafes</p>
        </li>
        <li class="hero-list__item">
            <span>23</span>
            <p class="hero-list__paragraph">food trucks</p>
        </li>
    </ul>
</section>