<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close type="button" class="modal__cross button-close">
      <svg class="modal-btn-close" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="contacts-modal__form">
      <input
        type="text"
        class="contacts-modal__input"
        placeholder="Name"
        pattern="[a-zA-Z]+"
        title="Name"
      />
      <input
        class="contacts-modal__input"
        type="tel"
        name="phone number"
        placeholder="+380 (__) ___-__-__"
        data-slots="_"
        title="+380 (00) 000-00-00"
        required
      />
      <input
        type="email"
        class="contacts-modal__input"
        placeholder="Email"
        name="email"
        required
      />

      <textarea
        class="contacts-modal__input contacts-modal__comment"
        name="comment"
        placeholder="Comment"
        cols="30"
        rows="10"
      ></textarea>

      <button class="form-button submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
