<!-- Read More Modal-->
<div class="backdrop-readmore is-hidden" data-modal id="modal-readmore">
  <div class="modal modal-readmore">
    <!--   Svg иконка для закрытия окна  -->
    <button data-modal-close type="button" class="close-modal">
      <svg class="icons-close" width="11" height="11">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-readmore__title">How it’s made?</h2>
    <!-- Video-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qKCAjGNc5hM" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p class="modal-readmore__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>

  