<!-- Read More Modal-->

<div class="modal modal-readmore overlay is-hidden" data-modal>
  <!--   Svg иконка для закрытия окна  -->
  <button
    type="button"
    class="modal__cross close-modal submit-button"
    data-modal-close
  >
    <svg class="modal-btn-close" width="11" height="11">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal-readmore__title">How it’s made?</h2>
  
  <!-- Video-->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/2P_avDlig-U"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <p class=""modal-readmore__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>

  <!-- <button type="button" class="about__button" data-modal-open>
            Read more
            <svg class="about__button-arrow" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
<path d="M3.96959 1.22701C3.82899 1.36765 3.75 1.55838 3.75 1.75726C3.75 1.95613 3.82899 2.14686 3.96959 2.28751L7.68209 6.00001L3.96959 9.71251C3.83297 9.85396 3.75738 10.0434 3.75908 10.2401C3.76079 10.4367 3.83967 10.6248 3.97873 10.7639C4.11778 10.9029 4.30589 10.9818 4.50254 10.9835C4.69919 10.9852 4.88864 10.9096 5.03009 10.773L9.27284 6.53026C9.41344 6.38961 9.49243 6.19888 9.49243 6.00001C9.49243 5.80113 9.41344 5.6104 9.27284 5.46976L5.03009 1.22701C4.88944 1.0864 4.69871 1.00742 4.49984 1.00742C4.30097 1.00742 4.11024 1.0864 3.96959 1.22701V1.22701Z"/>
</svg>
          </button>
    <!-- Модал -->
  <!-- <div class="read__more-backdrop is-hidden" data-modal>
      <div class="read__more-modal">
        <button class="button-close" data-modal-close>
          <svg class="bcard-set-img" width="20" height="20">
            <use xlink:href="#icon-close-black"></use>
          </svg>
        </button>
        <div class="read__more-content">
          <h1 class="read__more-title">How it’s made?</h1>
          Видео -->
  <!-- <iframe class="read__more-video" width="560" height="315" src="https://www.youtube.com/embed/2P_avDlig-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="read__more-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
      </div>
    </div>
    <!-- icon infa -->
  <!-- <svg display="none">
      <symbol id="icon-close-black" viewBox="0 0 32 32">
        <path
          d="m26.667 7.303-1.97-1.97-7.808 7.808-7.808-7.808-1.97 1.97 7.808 7.808-7.808 7.808 1.97 1.97 7.808-7.808 7.808 7.808 1.97-1.97-7.808-7.808 7.808-7.808z"
        />
      </symbol>
    </svg> -->
  --> -->

