
<section class="products" id="products">
    <div class="container products__container">
    <p class="products__label animate__animated animate__zoomInDown">100% natural</p>
    <h2 class="products__tittle animate__animated animate__zoomInDown" id="products__tittle">products</h2>
<div class="products__wrapper">
    <ul class="products__list">
<li class="products__ice-cream products__item">
    <h3 class="products__name">ice cream</h3>
    <p class="products__description products__description-ice-cream">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
    <button  data-modal-open="ingedients"
     type="button" class="ingrediends-button cream-button"  width="40" height="16">
        <svg class="icon-arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
             </svg>
    </button>
</li>
<li class="products__ice-coffee products__item">
    <h3 class="products__name">ice coffee</h3>
   
    <p class="products__description products__description-ice-coffee">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
    <button  data-modal-open="ingedients" type="button" class="ingrediends-button coffee-button"  width="40" height="16">
        <svg class="icon-arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
             </svg>
    </button>
</li>
<li class="products__milkshakes products__item">
    <h3 class="products__name" >milkshakes</h3>
    <p class="products__description products__description-milkshakes">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
    <button  data-modal-open="ingedients" type="button" class="ingrediends-button milkshakes-button"  width="40" height="16">
        <svg class="icon-arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
             </svg>
    </button>
</li>
    </ul>
</div>
</section>