button {
  cursor: pointer;
  color: $tittle-text-color;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  border-radius: 8px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(18 / 14);
    border-radius: 10px;
  }
}

.products__button:enabled {
  min-width: 108px;
  height: 38px;

  background-color: transparent;
  border: 2px solid $accent-color;

  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid $accent-bg-color;
  }

  &:disabled {
    border: 2px solid $btn-disabled-color;
  }

  @media screen and (min-width: 768px) {
    min-width: 134px;
    height: 42px;

    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
      color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 2px solid $accent-bg-color;
      color: $primary-text-color;
    }

    &:disabled {
      border: 2px solid $btn-disabled-color;
    }
  }
}

.hero__howit {
  min-width: 106px;
  border: none;
  border-radius: none;
  background-color: transparent;
  color: $accent-color;

  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-bg-color;

    &::after {
      background-color: $accent-bg-color;
    }
  }

  &:focus {
    color: $white-color;

    &::after {
      background-color: $white-color;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(15 / 12);
    border-radius: 8px;

    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
      color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    max-width: 154px;

    height: 40px;
    font-size: 14px;
    line-height: calc(17 / 14);
    border-radius: 10px;
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
      color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero__howit:disabled {
  color: $btn-disabled-color;

  &::after {
    background-color: $btn-disabled-color;
  }
}

.about__button:enabled,
.contacts__location-button:enabled,
.hero__buynow-button:enabled {
  height: 42px;

  font-size: 14px;
  line-height: calc(18 / 14);

  background-color: $accent-color;
  border-radius: 10px;
  border: none;

  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-bg-color;
  }

  &:focus {
    background-color: $accent-bg-color;
    color: $primary-text-color;
    fill: $primary-text-color;
  }

  &:disabled {
    background-color: $btn-disabled-color;
  }
}

.about__button:enabled {
  min-width: 164px;
}

.contacts__location-button:enabled {
  min-width: 196px;
}

.hero__buynow-button:enabled {
  min-width: 152px;
}

.contacts__franshize:enabled {
  min-width: 196px;
  height: 42px;

  font-size: 14px;
  line-height: calc(18 / 14);

  border-radius: 10px;
  background-color: transparent;
  border: 2px solid $accent-color;

  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid $accent-bg-color;
  }

  &:focus {
    border: 2px solid $accent-bg-color;
    color: $white-color;
    fill: $white-color;
  }

  &:disabled {
    border: 2px solid $btn-disabled-color;
  }
}

/* ---------кнопка submit та open map--------- */
.submit-button {
  min-width: 114px;
  height: 42px;
  border: none;

  background-color: $accent-color;

  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-bg-color;
  }

  &:focus {
    background-color: $accent-bg-color;
    color: $white-color;
  }

  @media screen and (min-width: 1200px) {
    min-width: 121px;
  }
}

/* ---------кнопка закриття модалки--------- */
.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;

  @include tablet {
    width: 24px;
    height: 24px;
  }
  border: none;
  fill: $tittle-text-color;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-bg-color;
  }
}

.icons-close {
  width: 20px;
  height: 20px;
  @include tablet {
    width: 24px;
    height: 24px;
  }
}

/* ---------кнопка закриття мобільного меню--------- */
.close-mobile {
  position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;

  fill: $primary-text-color;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
