.contacts {
  padding-bottom: 180px;
  background-color: $primary-bg-color;

  @include tablet {
    padding-bottom: 40px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}

.contacts-block {
  position: relative;
  max-height: 1081px;
  transform: translateY(-349px);
  z-index: 1;

  @include tablet {
    max-height: 333px;
    transform: translateY(-299px);
  }

  @include desktop {
    max-height: 530px;
    transform: translateY(-119px);
  }
}

.contacts__list {
  margin-bottom: 20px;

  @include tel {
    margin-bottom: 24px;
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.contacts__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding: 44px 32px 24px 32px;

  width: calc(100% - 20px * 2);

  background-color: $primary-text-color;
  border-radius: 24px;
  transition: transform, box-shadow $timing-function;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and(min-width: $tel) and (max-width: calc($tablet - 1px)) {
    width: calc(100% - 100px * 2);
  }

  @include tablet {
    width: calc((100% - 16px * 2) / 3);
    margin: 0;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @include desktop {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.contacts__name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;

  max-width: 130px;
  height: 22px;
  background-color: $accent-color;

  border-radius: 4px;

  @include tablet {
    max-width: 138px;
    height: 30px;
  }

  @include desktop {
    max-width: 148px;
  }

  & p {
    color: $tittle-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;

    @include tablet {
      font-size: 16px;
    }
  }
}

.contacts__line {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  height: 1px;
  background-color: #e1e1e1;
}

.contacts__address {
  margin-bottom: 32px;

  & p {
    margin-bottom: 8px;
    font-style: normal;
    color: $tittle-text-color;

    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.83;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  & a {
    height: 40px;
    font-style: normal;
    color: $location-text-colour;
    letter-spacing: 0.04em;
    line-height: 1.83;
    font-size: 12px;
    text-align: left;

    transition: border-color 400ms;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      width: 280px;
      height: 50px;
      font-size: 16px;
    }
  }

  & a:hover {
    border-bottom: 1px solid $location-text-colour;
  }
}

.contacts__day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $tittle-text-color;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.contacts__time {
  font-size: 12px;
  line-height: 1.83;
  color: #ababab;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.contacts__date {
  margin-bottom: 24px;

  & li:not(:last-child) {
    margin-bottom: 8px;
  }

  @include desktop {
    & li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.contacts__tel {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 6px;

  font-size: 12px;
  line-height: 1.58;
  color: $tittle-text-color;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.contacts__mail {
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 1.58;
  color: $tittle-text-color;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.contacts__button {
  @media screen and(max-width: calc($tablet - 1px)) {
    & li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.contacts__location-button {
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;

  @include tablet {
    margin-right: 16px;
  }

  &:disabled {
    background-color: #ababab;
  }
}

.contacts__franchise-button {
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    margin: 0px;
  }

  &:disabled {
    border-color: #ababab;
  }
}

.franchise-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__button-icon {
  display: block;
}
