.reviews {
  color: black;
  display: block;
  

  @media screen and (max-width: 767px) {
    background-image: url(../images/bg_mobile.png);
    width: 100%;
    padding-bottom: 349px;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/bg_tablet.png);
    padding-bottom: 379px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/bg_desktop.png);
    padding-bottom: 228px;
    width: 100%;
  }

  // @media screen and (max-width:480px) {
  //   padding-bottom: 349px;
  // }
}

.one-time {
  text-align: center;
  margin: 0;
  padding: 0;
}

.reviews__client-photo {
  border-radius: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  // @media screen and (max-width: 767px) {
  //   // margin-top: 178px;
  // }

  // @media screen and (min-width: 768px) {
  //   // margin-top: px;
  // }

  // @media screen and (min-width: 1200px) {
  //   margin-top: 20px;
  // }
}

.reviews__text {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #84a178;
  color: #fcfcfc;
  padding: 35px 39px;
  margin-bottom: 32px;

  @media screen and (min-width: 320px) {
    width: 280px;
    border-radius: 10px;
  }

  @media screen and (min-width: 768px) {
    width: 705px;
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    height: 138px;
    // margin-left: 168px;
    // margin-right: 196px;
    border-radius: 24px;
  }
}

.reviews__client {
  color: #131313;

  @media screen and (min-width: 320px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.slick-dots li button:before {
  color: #d9d9d9;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #84a178;
  width: 12px;
  height: 12px;
}
