.footer-container {
    margin-bottom: 40px;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }

    @include desktop {
        margin-bottom: 60px;
    }
}

#footer-scrolltop {
    // display: none;
    opacity: 0;
    position: fixed;
    color: $accent-text-color;
    background-color: $accent-color;
    transition: transform 250ms, opacity 250ms;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    bottom: 50px;
    right: 50px;
}

.footer-title {
    display: inline-flex;
    flex-direction: column;
    width: 232px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;

    @include tablet {
        width: 350px;
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }

    @include desktop {
        width: 505px;
        font-weight: 400;
        font-size: 30px;
    }
}

.footer-title__span {
    margin-top: 16px;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    @include tablet {
        font-size: 48px;
        line-height: 1.23;
        letter-spacing: 0.06em;
    }

    @include desktop {
        font-weight: 700;
        font-size: 58px;
    }
}

.footer-soc {
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.footer-soc__list {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 60px;
    margin-bottom: 20px;

    @include tablet {
        margin-top: auto;
        margin-bottom: 34px;
    }

    @include desktop {
        margin-bottom: 40px;
    }
}

.footer-soc__items:not(:last-child) {
    margin-right: 20px;

    @include tablet {
        margin-right: 30px;
    }
}

.footer-soc__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    fill: $primary-bg-color;
    border-radius: 50%;
    background-color: $accent-color;

    &:hover,
    &:focus {
        fill: $primary-text-color;
    }
}

.footer-contacts {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    text-align: right;
    color: $tittle-text-color;

    @include tablet {
        font-size: 14px;
        line-height: 1.86;
    }

    @include desktop {
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.02em;
    }
}

.footer-tel {
    color: $primary-text-color;
}

.copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
    padding: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7a7a7a;

    @include tablet {
        line-height: 1.86;
        letter-spacing: 0.02em;
        display: block;
    }

    @include desktop {
        font-size: 12px;
        line-height: 1.83;
    }
}