.gallery {
  &__img {
    margin: auto;
    border-radius: 24px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 27px;
    &__img {
      max-width: 368px;
      width: 100%;
      margin: auto;
    }
    &_container {
      transform: translateY(-27px);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 144px;
    &_container {
      transform: translateY(-144px);
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 98px;
    &_container {
      transform: translateY(-98px);
    }
  }
}
