.gallery {
  max-width: 100%;
  margin-top: 27px;
  background-image: url('../images/bg_mobile.png'),
    linear-gradient(to top, $primary-bg-color, $primary-bg-color);

  &__img {
    max-width: 100%;
    margin: auto;
    border-radius: 24px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 144px;
    background-image: url('../images/bg_tablet.png'),
      linear-gradient(to top, $primary-bg-color, $primary-bg-color);

    .slick-dotted.slick-slider {
      transform: translateY(-144px);
    }
  }

  @media (min-width: 1200px) {
    margin-top: 98px;
    background-image: url('../images/bg_desktop.png'),
      linear-gradient(to top, $primary-bg-color, $primary-bg-color);

    .slick-dotted.slick-slider {
      transform: translateY(-98px);
    }
  }
}

.slick-dotted.slick-slider {
  transform: translateY(-27px);
  border: none;
  width: 100%;
}
