.hero {
  position: relative;
  height: 450px;
  padding-top: 50px;

  @include tel {
    padding-top: 40px;
  }

  @include tablet {
    height: 349px;
    padding-top: 14px;
  }

  @include desktop {
    height: 636px;
    padding-top: 45px;
  }
}

.hero__container--top {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  max-width: 247px;
  text-transform: uppercase;

  @include desktop {
    font-size: 38px;
    line-height: 1.2;
    max-width: 347px;
  }
}

.hero-list__numbers {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: right;
  }

  @include desktop {
    padding-top: 8px;
  }
}

.hero-list__numbers .hero-list__item+.hero-list__item {
  @include tablet {
    margin-top: 20px;
  }

  @include desktop {
    margin-top: 16px;
  }
}

.hero-list__item>span {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;

  letter-spacing: 0.04em;

  color: $tittle-text-color;

  @include desktop {
    font-size: 46px;
  }
}

.hero-list__paragraph {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  text-align: right;

  color: $white-color;

  @include desktop {
    font-size: 14px;
    line-height: 1.2;
  }
}

.hero__container--left {
  margin-top: 32px;

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
    margin-top: 28px;
  }
}

.hero__button {
  display: inline-flex;
  align-items: center;
  padding: 12px 32px;
  border: 2px solid $accent-color;
  background-color: $primary-bg-color;
  margin-right: 12px;
}

.products__link {
  color: $tittle-text-color;
}

.hero__howit-link {
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: -1px;
    right: 0px;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $accent-color;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero__link {
  position: relative;
  display: block;
  align-items: center;
  text-align: center;
  text-decoration-line: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: $accent-color;

}

.hero__container--bottom {
  display: none;

  @include tablet {
    display: flex;
    position: relative;
  }
}

.hero-bottom__img {
  margin-left: 0;
  display: none;

  @include tablet {
    display: flex;
    position: absolute;


    top: 187px;
  }

  @include desktop {
    top: 347px;
  }
}

.hero-bottom__paragraph {
  display: none;

  @include tablet {
    display: block;
    position: absolute;

    top: 210px;
    left: 223px;
    width: 139px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: $primary-text-color;
  }

  @include desktop {
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
    left: 257px;
    top: 421px;
  }
}

.hero-bottom__svg--arrow {
  width: 40px;
  height: 16px;
  bottom: 0;
  fill: $white-color;

  @include tablet {
    margin-top: 12px;
  }

  @include desktop {
    margin-top: 24px;
  }
}

.hero-points {
  position: absolute;
  bottom: 0;
  z-index: -1;

  @media screen and (max-width: calc($tel - 1px)) {
    left: 0;
  }

  @media screen and (min-width: $tel) and (max-width: calc($tablet - 1px)) {
    right: 0;
  }

  @include tablet {
    width: 100%;
    left: 0;
  }

  @include desktop {
    bottom: 0;
  }
}

.hero-one {
  position: absolute;
  bottom: 0;
  left: 93px;

  @include tel {
    left: 243px;
  }

  @include tablet {
    left: 408px;
  }

  @include desktop {
    left: 652px;
    bottom: 0;
  }
}