/* Стили для модальных окон */
.modal-readmore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 28px;

  width: 90vw;
  height: auto;

  background-color: $primary-text-color;
  border: 2px solid $accent-color;
  border-radius: 10px;

  @include tablet {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 568px;
    min-height: 449px;
  }
}

iframe {
  width: 100%;
  height: 199px;
  @include tablet {
    height: 205px;
    display: block;
    margin-bottom: 32px;
  }
}

.modal-readmore__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $tittle-text-color;

  @include tablet {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.modal-readmore__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  color: $tittle-text-color;

  @include tablet {
    font-size: 16px;
  }
}
