// /* MODAL */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  padding-left: 15px;
  padding-top: 95px;
  background: rgb(132, 161, 120, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.franchise__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 1;

  width: 280px;
  height: 674px;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transform: translate(-50%, -50%);
}

.franchise__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  padding: 0px;
  top: 12px;
  right: 12px;
  // padding: 6px;

  background: none;
  border: none;

  border-radius: 50%;

  transition-property: transition-duration, cursor;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transition-duration: 250ms;
    cursor: pointer;
  }
}

.franchise__img {
  padding: 0;
  margin: 0;
  fill: #131313;
}

.franchise__modal-content {
  padding: 28px;
}

.franchise__modal-title {
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #131313;
}

.franchise__modal-text {
  margin: 0px;
  margin-top: 20px;

  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  color: #131313;
}

// /* Ім'я modal */
.franchise__modal-form {
  display: block;
  justify-content: center;
}

// /* form-label */
.franchise__form-label {
  display: block;

  padding: 0;
  margin-top: 12px;

  &:first-child {
    margin: 24px 0px 4px 0px;
  }
}

// /* div */
.franchise__form-control {
  display: block;
  position: relative;
  margin: 0;
}

// /* input */
.franchise__form-input {
  display: block;
  padding: 8px 12px;
  height: 32px;
  width: 224px;
  // width: 100%;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  outline: none;

  transition-property: border;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    color: #131313;
  }
}

.franchise__form-textarea {
  display: block;
  width: 224px;
  height: 64px;

  margin: 0;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid #84a178;
  }

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    color: #131313;
  }
}

.franchise__modal-button {
  margin: 0;
  margin-top: 24px;
  margin-left: 55px;
  padding: 12px 34px;

  background: #f8d24e;
  border-radius: 10px;
  border: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  // color: #131313;

  transition-property: color, background, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #f8d24e;
    cursor: pointer;
  }
}

/* button */
.franchise__button {
  display: flex;
  padding: 12px 70px 12px 55px;
  gap: 7px;

  align-items: center;

  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  color: #000000;
}

.franchise__button-arrow {
  fill: #000000;
}
