.modal-ingedients {
    background-color: $primary-text-color;
    border-radius: 4px;
    position: absolute;
    padding: 28px 20px;
    position: absolute;
     left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) scaleY(1) rotate(0);

     @media screen and (min-width: 480px) {
      width: 280px;
    height: auto;
     }

      @media screen and (min-width: 768px) {
        width: 568px;
         padding: 32px 40px;
      }
}

.modal-ingedients--close {
    display: block;
    position: absolute;
    top: 17px;
    right: 17px;
}

.modal-ingedients__title{
font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.4;
text-align: center;
color: $tittle-text-color;
width: 142px;
margin-bottom: 20px; 
margin-left: auto;
margin-right: auto;

@media screen and (min-width: 768px) {
  width: 273px;
}
}

.modal-ingedients__wrap {
  max-width: 132px;
  max-height: 132px;
   margin-bottom: 23px;
   position: relative;
   margin-left: auto;
   margin-right: auto;

   transform: translateY(10%);

   background-color: #9CBE8F;
   border-radius: 50%;
   background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-ingedients__wrap img {
 transform: translateY(-10%);
}

.cho-icecream-img {
  display: block;
}

.energy-value {
    margin-bottom: 40px;

     @media screen and (min-width: 768px) {
       margin-bottom: 48px;
     }
}

.energy-value__list {
    display: flex;
    justify-content: center;
}


 .energy-value__elips {
    width: 53px;
    height: 72px;
    border-radius: 40%;
     border: 2px solid #9CBE8F;
  position: relative;

   @media screen and (min-width: 768px) {
        width: 65px;
         height: 90px;
      }
}

.energy-value__elips-text {
  position: absolute;
  bottom:0;
  left: 27%
}

.energy-value__circle {
  height: 43px;
  width: 43px;
  background-color: #9CBE8F;
 border: 2px solid #9CBE8F;
 box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 3px;

   @media screen and (min-width: 768px) {
        width: 53px;
         height: 53px;
      }
}
.energy-value__circle-text {
  position: absolute;
  top: -5;
  left: 7;
}
.energy-value__circle-text,
.energy-value__elips-text {
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 2.8;
display: flex;
align-items: center;
text-align: center;
color: $tittle-text-color;

 @media screen and (min-width: 768px) {
  font-size: 12px;
  line-height: 2.3;
 }
}
.energy-value__circle-text {
position: absolute;
 top: 12%;
 left: 20%;
}

.energy-value__item:not(:last-child) {
margin-right: 9px;

 @media screen and (min-width: 768px) {
  margin-right: 20px;
 }
}

.cho-icecream-ingred {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.4;
align-items: center;
text-align: center;
color: $tittle-text-color;
margin-bottom: 24px;
}

.cho-icecream-ingred__item {
font-weight: 400;
font-size: 14px;
line-height: 1.8;
display: flex;
letter-spacing: 0.04em;
color: $tittle-text-color;
 justify-content: space-between;
    align-items: baseline;
}

.cho-icecream-ingred__item:not(:last-child) {
    margin-bottom: 10px;
}

.modal-ingedients-form {
    margin-top: 40px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;

     @media screen and (min-width: 768px) {
      margin-top: 48px;
      width: 368px;
     }
}
.modal-ingedients-form__group:nth-child(-n+2) {
margin-bottom: 16px;
}

.modal-ingedients-form__input {
 font-size: 14px;
line-height: 1.4;
background: rgba(248, 210, 78, 0.1);
border: 1px solid #84A178;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 11px;
width: 240px;
color: $tittle-text-color;

 @media screen and (min-width: 768px) {
   width: 368px;
   padding: 11px 16px;
 }
}

.modal-ingedients-form__textarea {
width: 240px;
height: 84px;
font-size: 14px;
line-height: 1.4;
color: $tittle-text-color;
background: rgba(248, 210, 78, 0.1);
border: 1px solid #84A178;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 11px;
resize: none;

 @media screen and (min-width: 768px) {
   width: 368px;
   padding: 11px 16px;
 }
}

.modal-ingedients__button {
// font-weight: 600;
// font-size: 14px;
// line-height: 1.2;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
// color: $tittle-text-color;
// background-color: $accent-color;
// width: 132px;
// height: 42px;
// border-radius: 10px;
// border: none;
margin-top:24px;
 margin-left: auto;
 margin-right: auto;

   @media screen and (min-width: 768px){
    margin-top:32px;
    line-height: 1.4;
   }
}
