.modal-locations {
  position: fixed;
  padding: 28px;
  width: 58vw;
  @media screen and(max-width:767px) {
    min-height: 365px;
  }

  background-color: $primary-text-color;
  border: 2px solid $accent-color;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  @media screen and(min-width:768px) {
    width: 280px;
    min-height: 365px;
  }
  @media screen and(min-width:1200px) {
    width: 568px;
    height: 458px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.close-modal {
  @media screen and(min-width:1200px) {
    width: 13px;
    height: 13px;
  }
}
.modal-locations__close {
  position: absolute;
  top: 12px;
  right: 12px;

  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  @media screen and(min-width:1200px) {
    width: 24px;
    height: 24px;
  }
}
.modal-locations__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;

  color: $tittle-text-color;
  @media screen and(min-width:1200px) {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.modal-locations__maps {
  width: 100%;
  height: 199px;

  z-index: 999;
  border-radius: 10px;
  margin-bottom: 24px;

  @media screen and(min-width:1200px) {
    height: 260px;
  }
}
.modal-locations__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  border: transparent;
  & a {
    display: block;
    color: inherit;
  }
  @media screen and(max-width:767px) {
    max-width: 134px;
    max-height: 42px;
  }
  @media screen and(min-width:768px) {
    width: 134px;
    height: 42px;
  }
  @media screen and(min-width:1200px) {
    width: 145px;
    height: 42px;
  }
}
