.modal-locations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 28px;
  width: 300px;
  max-height: 100vh;

  background-color: $primary-text-color;
  border: 2px solid $accent-color;
  border-radius: 10px;

  @include tel {
    max-width: 90vw;
  }

  @include tablet {
    padding: 32px;
    // max-width: 568px;
    width: 448px;
  }
}

.modal-locations__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;

  color: $tittle-text-color;

  @include desktop {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.modal-locations__maps {
  width: 100%;
  height: 199px;

  z-index: 999;
  border-radius: 10px;
  margin-bottom: 24px;

  @include desktop {
    height: 260px;
  }
}

.modal-locations__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0;
  margin-top: 0;

  & a {
    display: block;
    color: $tittle-text-color;
  }

  @include tablet {
    width: 134px;
    height: 42px;
  }

  @include desktop {
    width: 145px;
    height: 42px;
  }
}
